# Python
__pycache__/
*.pyc

# Env
.env

# Virtual environments
finn_env/
venv/
*/finn_env/

# Chroma DB (VERY IMPORTANT)
chroma_fin_db/
*/chroma_fin_db/

#data
data/
Data/
dataset/
data_files/
data/financial_docs

# OS
.DS_Store
Thumbs.db