# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
finshield_ai/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Environment
.env

# Testing & Evaluation
.pytest_cache/
evaluation/

# Local Data
uploads/
data/chroma/

# Documents
*.pdf

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db